streamlit==1.44.0

# PDF + OCR
pdf2image==1.17.0
pillow==11.0.0
paddleocr==2.10.0
paddlepaddle==3.0.0
opencv-python-headless>=4.9.0.80

# Core
numpy==1.26.4

# Core NLP
nltk==3.9.1
contractions==0.1.73
textstat==0.7.5
emoji==2.14.1
Metaphone==0.6
pronouncing==0.2.0

# spaCy + model
spacy==3.8.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

# Semantic analysis
sentence-transformers==2.7.0
keybert==0.8.5

# Emotion analysis
transformers==4.45.2
torch==2.2.0
